.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: #dff1f0;
}
#side-menu {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#side-menu section {
  padding: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 95%;
  background: linear-gradient(to right, #e0f2f1, #80cbc4);
}

#side-menu section textarea {
  width: 98%;
}

#side-menu section input {
  width: 98%;
  height: 25px;
  font-size: 16px;
  margin: 5px 0;
}

#side-menu section label {
  color: #00897b;
  font-size: large;
  font-weight: bold;
}

textarea {
  font-size: 16px;
  margin: 5px 0;
}

#send-button {
  background-color: #00897b;
  color: #fff;
  border: solid 5px #00897b;
  border-radius: 10px;
  padding-top: 5px;
}

#send-button-div {
  text-align: right;
}

#second-section {
  flex: 1;
  margin-top: 10px;
}

#main {
  flex: 3;
  padding: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
  border: 1px solid gray;
  background-color: whitesmoke;
  padding: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  display: none;
  border-radius: 5px;
}

header {
  background-image: url("pictures/headerBackground.jpg");
}
#header-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

#profil-picture {
  border: 5px solid #4db6ac;
  border-radius: 100%;
  margin: 10px;
}

h1 {
  color: #00897b;
  padding-left: 5px;
  padding-top: 10px;
  margin-top: 15px;
}

h2 {
  color: #00897b;
  padding: 5px;
  margin-top: 5px;
}

h3 {
  color: #00897b;
  padding: 5px;
  font-size: 26px;
}

#top-menu-bar {
  text-align: center;
  background-color: #00897b;
  color: #e8f5e9;

  font-size: large;
}

#top-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#top-menu-bar a {
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  display: inline-block;
  margin: 5px 0;
  border-radius: 5px;
}

#top-menu-bar a.active,
#top-menu-bar a:hover {
  background-color: #fff;
  color: #334455;
}

footer {
  text-align: center;
  background-color: #00897b;
  margin: 0;
}

footer li {
  display: inline-block;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

footer img {
  height: 30px;
  width: 70px;
  border-radius: 5px;
}

.endorcements {
  color: gray;
}

li.important {
  font-weight: bold;
}

li.important .endorcements {
  color: green;
}

/* game css */
.grid {
  width: 456px;
  height: 456px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 150px;
  width: 150px;
  border: solid #00897b 1px;
  background-color: white;
}

.jerry {
  background-image: url("pictures/jerry.png");
  background-size: cover;
}

.container {
  justify-content: center;
  align-items: center;
}

#btnStart {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  background-color: #00897b;
  color: #e8f5e9;
}

/* game css */
